Source: libpam-wics
Section: net
Priority: optional
Maintainer: Systems Commmittee <wics-sys@lists.uwaterloo.ca>
Uploaders:
 Elana Hashman <ehashman@wics.uwaterloo.ca>
Build-Depends: debhelper (>= 7), libldap2-dev, libpam0g-dev, libsasl2-dev
Standards-Version: 3.9.1

Package: libpam-wics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WICS PAM module to handle account expiration.
 This module disallows login by expired accounts.
